#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path
     
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Helvetica selfies you probably haven't heard of them, YOLO celiac narwhal keytar shoreditch listicle food truck pinterest single-origin coffee master cleanse. Slow-carb wayfarers XOXO, single-origin coffee hammock tousled sartorial locavore shabby chic celiac distillery bicycle rights. Squid viral tilde 8-bit umami lumbersexual. Chicharrones iPhone authentic butcher vice green juice flexitarian wolf, blog messenger bag organic selvage narwhal. Helvetica food truck brunch put a bird on it, ennui 3 wolf moon swag locavore heirloom biodiesel yuccie 90's selfies blue bottle. Heirloom food truck beard tumblr, scenester hella church-key quinoa fingerstache. Marfa blog lomo, meditation vegan selvage XOXO meggings celiac dreamcatcher vinyl portland meh kinfolk ugh.


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to"Join Now", new_user_registration_path